*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #111;
}

section{
    position: relative;
    padding: 100px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.header .items{
    list-style-type: none;
    display: flex;
    padding-right: 50px;
}

.header a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.header li{
    margin: 5px 15px;
}

.header .login{
    margin: 4px;
    font-size: 20px;
    color: #fff;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
}

.banner .content{
    position: relative;
    text-align: center;
    z-index: 1;
}

.banner .content h1{
    color: #fff;
    font-size: 40px;
    
}
.banner .content p{
    color: #fff;
    font-size: 1.2em;
    padding: 0 100px;
    text-align: left;
}

.banner .content .p1{
    text-align: right;
}

.btn{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #111;
    text-decoration: none;
}

.fitbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dest1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 .content{
    position: relative;
    text-align: center;
    z-index: 1;
}

.dest1 img{
    width: 350px;
    margin: 10px 10px ;
    border: none;
}

.price{
    position: relative;
    min-height: 10vh;
    color: #fff;
    text-align: center;
 }

.price h2{
    margin: 10px;
}

.price span{
    font-size: 20px;
}

.about{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .contentbx{
    min-width: 50%;
    width: 50%;
    text-align: end;
    padding-right: 40px;
}

.about .contentbx2{
    text-align: left;
    padding-left: 40px;
}

.titletext{
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}

.text{
    color: #fff;
    font-size: 1em;
}

.about .imgbx{
    position: relative;
    min-width: 100%;
    width: 50%;
    min-height: 500px;

}

.about .contentbx2 h2{
    margin: 10px 10px;
    font-size: 25px;
}

.about .contentbx2 p{
    margin: 15px 5px;
    font-size: 15px;
}

.about .contentbx2 .post{
    display: flex;
}

.about .contentbx2 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 30px;
}

.content-most{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-most .content-box{
    min-width: 50%;
    width: 50%;
    text-align: center;
    padding-right: 40px;
}

.titletext{
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}

.text{
    color: #fff;
    font-size: 1em;
}

.content-most .imgbox{
    margin: 10px 10px;
}

.content-most .img-bx{
    position: relative;
    min-width: 250px;
    width: 250px;
    min-height: 200px;
    margin-bottom: 25px;
}

.content-most .textcity,
.content-most th{
    color: #fff;
    font-size: 20px;
}

.content-most .tbl{
    align-items: center;
    margin-left: 150px;
    color: #fff;
    text-align: center;
}

.banner3 .content h3{
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

.banner3 .content p{
    margin-bottom: 10px;
}

.banner3{
    min-height: 60vh;
}

.banner3 .content .newsletter{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    display: flex;
}

.banner3 .content .newsletter input{
    border: none;
    outline: none;
    background: #fff;
    color: #111;
    width: 50%;
    float: left;
    margin: 10px 0px;
    margin-left: 100px;
    padding: 10px 10px;
    border-radius: 5px;
}

.banner3 .content .newsletter a{
    border: none;
    outline: none;
    background: rgb(64, 184, 240);
    color: #111;
    width: 20%;
    margin: 10px ;  
    text-decoration: none;
    padding: 10px 10px; 
    font-size: 15px;
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .sci{
    position: relative;
    display: flex;
}

.footer .sci li{
    list-style: none;
}

.footer .sci li a{
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a i{
    padding: 1.4rem 0;
    max-width: 40px;
    font-size: 30px;
    color: #fff;
}

.copyrights{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #665;
    text-align: center;
}

.copyrights a{
    color: #fff;
    text-decoration: none;
}

